In [27]:
import pandas as pd
import json

# Load the JSON data into a DataFrame
with open('result.json') as f:
    json_data = json.load(f)

df = pd.DataFrame(json_data['data'],dtype=str)
df.head()

,siteId,seqNo,date,time,temp1,temp2,temp3,humidity1,humidity2,humidity3,light
0,0,0,2020-10-18,05:30:16,20.8,21.5,21.2,95.8,94,94,1.042
1,0,1,2020-10-18,05:30:33,?,21.5,21.1,?,94,94,1.042
2,0,2,2020-10-18,05:30:48,?,21.4,21.1,?,94,94,1.042
3,0,3,2020-10-18,05:31:03,?,21.4,21.1,?,94,94,1.042
4,0,4,2020-10-18,05:31:18,?,21.5,21.2,?,94,94,1.042

In [28]:
# check for missing values
print(df.isnull().sum())

siteId       0
seqNo        0
date         0
time         0
temp1        0
temp2        0
temp3        0
humidity1    0
humidity2    0
humidity3    0
light        0
dtype: int64

In [29]:
# drop rows with missing values
df.dropna(inplace=True)

In [30]:
# Drop duplicate rows
df=df.drop_duplicates(keep='first')

In [31]:
import numpy as np
# Replace '?' with NaN

df.replace(' ?', np.nan, inplace=True)
# Drop rows containing missing values
# Replace the missing values with NaN
df = df.fillna(np.nan)
# Drop rows containing missing values
# Replace the missing values with NaN

#df = df.replace(['?', 'NA', 'N/A', 'None'],0)

df.tail()

,siteId,seqNo,date,time,temp1,temp2,temp3,humidity1,humidity2,humidity3,light
5740,0,5755,2020-10-18,05:29:01,20.8,21.5,21.1,95.5,94,94,1.042
5741,0,5756,2020-10-18,05:29:18,NaN,21.5,21.1,NaN,94,94,1.042
5742,0,5757,2020-10-18,05:29:33,NaN,21.4,21,NaN,94,94,1.042
5743,0,5758,2020-10-18,05:29:48,NaN,21.5,21,NaN,94,94,1.042
5744,0,5759,2020-10-18,05:30:03,NaN,21.5,21.1,NaN,94,94,1.042

In [32]:
# Drop rows containing missing values
df = df.dropna()
df.head()

,siteId,seqNo,date,time,temp1,temp2,temp3,humidity1,humidity2,humidity3,light
0,0,0,2020-10-18,05:30:16,20.8,21.5,21.2,95.8,94,94,1.042
6,0,6,2020-10-18,05:31:46,20.8,21.5,21.1,95.1,94,94,1.042
8,0,8,2020-10-18,05:32:16,20.8,21.4,21.1,95.4,94,94,1.042
9,0,9,2020-10-18,05:32:31,20.8,21.5,21.1,95.3,94,94,1.042
10,0,10,2020-10-18,05:32:46,20.8,21.4,21.1,95.1,94,94,1.042

In [33]:
# Convert temperature columns to numeric
df['temp1'] = pd.to_numeric(df['temp1'], errors='coerce')
df['temp2'] = pd.to_numeric(df['temp2'], errors='coerce')
df['temp3'] = pd.to_numeric(df['temp3'], errors='coerce')

# Convert temperature columns to numeric
df['humidity1'] = pd.to_numeric(df['humidity1'], errors='coerce')
df['humidity2'] = pd.to_numeric(df['humidity2'], errors='coerce')
df['humidity3'] = pd.to_numeric(df['humidity3'], errors='coerce')

df['seqNo'] = pd.to_numeric(df['seqNo'], errors='coerce')

# Calculate the average temperature
df['average_temp'] = df[['temp1', 'temp2', 'temp3']].mean(axis=1)

# Calculate the average humidity
df['average_humidity'] = df[['humidity1', 'humidity2', 'humidity3']].mean(axis=1)

# Create a new DataFrame with only the desired columns
new_df = df[['seqNo','date','time','average_temp', 'average_humidity', 'light']]

# Print the selected columns
print(new_df)

      seqNo         date       time  average_temp  average_humidity   light
0         0   2020-10-18   05:30:16     21.166667         94.600000   1.042
6         6   2020-10-18   05:31:46     21.133333         94.366667   1.042
8         8   2020-10-18   05:32:16     21.100000         94.466667   1.042
9         9   2020-10-18   05:32:31     21.133333         94.433333   1.042
10       10   2020-10-18   05:32:46     21.100000         94.366667   1.042
...     ...          ...        ...           ...               ...     ...
5728   5743   2020-10-18   05:26:01     21.133333         94.566667   1.042
5735   5750   2020-10-18   05:27:46     21.100000         94.600000   1.042
5736   5751   2020-10-18   05:28:01     21.133333         94.600000   1.042
5738   5753   2020-10-18   05:28:38     21.100000         94.500000   1.042
5740   5755   2020-10-18   05:29:01     21.133333         94.500000   1.042

[3736 rows x 6 columns]

In [34]:
new_rows = []  # List to store the combined rows
x=0
count=0
average_temp = 0
average_humidity = 0
light = 0
n=6
rowcount=0
for index, row in df.iterrows():
    # Access the values of each column in the current row
    time1 = row['time']

    sliced_text = time1[4:6]  #sliced the time xx:yy:xx
  
    
    if(sliced_text=="00"): #if yy==00
        sliced_text1 = time1[1:6] # get front slice xx:xx:
        if(n>23):
            n=0
            print("karaN")
        
            
    
        if(n <= 9 and sliced_text1 == "0" + str(n) + ":00" ):
            
        
         # Access the values of the current row
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']+average_temp
            average_humidity = row['average_humidity']+average_humidity
            x=row['seqNo']
            count=count+1


        elif( sliced_text1 == str(n) + ":00" ):
            
            
            
         # Access the values of the current row
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']+average_temp
            average_humidity = row['average_humidity']+average_humidity
            x=row['seqNo']
            count=count+1
            
       
        
        



        


        
        else:
            if (count==0 ):

                count=1
       
            
            new_row = {
            'date': date,
            'time': time,
            'average_temp': average_temp/count ,
            'average_humidity': average_humidity/count ,
             }
            #print(new_row)
            new_rows.append(new_row)
            
            count=1
            n=n+1
            
    
            
            
            
            date = row['date']
            time = row['time']
            average_temp = row['average_temp']
            average_humidity = row['average_humidity']

new_row = {
            'date': date,
            'time': time,
            'average_temp': average_temp/count ,
            'average_humidity': average_humidity/count ,
             }
new_rows.append(new_row)
new_df1 = pd.DataFrame(new_rows)
# Save the DataFrame to a CSV file
new_df1.to_csv("internal_weather_data.csv", index=False)

karaN

NameError: name 'weather_df' is not defined

from datetime import datetime

start_date = "2022-10-18"
start_datetime = datetime.strptime(start_date, "%Y-%m-%d")
start_unix_time = int(start_datetime.timestamp())

In [ ]:
from datetime import datetime

start_date = "2022-10-18"
start_datetime = datetime.strptime(start_date, "%Y-%m-%d")
start_unix_time = int(start_datetime.timestamp())
print(start_unix_time)

1666031400

In [ ]:
from datetime import datetime

end_date = "2022-10-19"
end_datetime = datetime.strptime(end_date, "%Y-%m-%d")
end_unix_time = int(end_datetime.timestamp())
print(end_unix_time)

1666117800